.site-header{
	background: mix(#000,$primary,40%);
	color: #fff;
	width: 100%;
	padding: 0.5rem 1rem;
	height: 30rem;
	text-align: center;
	display: flex;
	justify-content: center;
	 align-items: center;
}

	.site-header__content{
		max-width: 30rem;
	}

	.site-header__title{
		margin: 0;

	}

	.downloads{
		width: 100%;
	}

		.downloads__btn{
			width: 100%;
		}

		.downloads__btn--github{
		}