

.sidebar-nav{
	
	padding: 2rem 0;
	/*@include at-breakpoint(1100px){
		position: fixed;
		top: 6rem;
		left: 0;
	}*/
}

	.nav-list{
		margin: 0;
		list-style: none;
		font-weight: 300;
		line-height: 1.5;
	}

		.nav-list__item{
			a{
				text-decoration: none;
			}
		}