.site-title{
	padding: 2rem 1rem;
	text-align: center;
}

	.site-title__heading{
		font-size: 2rem;
	}

	.site-title__subheading{

	}

	.downloads{
		width: 100%;
	}

		.downloads__btn{
			width: 100%;
		}

/*
<nav class="sidebar-nav">
    <ul class="nav-list">
        <li class="nav-list__item"><a href="#introduction">Introduction</a></li>
        <li class="nav-list__item"><a href="#grid-setup">Grid Setup</a></li>
        <li class="nav-list__item"><a href="#example-grid">Example Grid</a></li>
        <li class="nav-list__item"><a href="#automagic-widths">Automagic Widths</a></li>
        <li class="nav-list__item"><a href="#vertical-alignment">Vertical Alignment</a></li>
        <li class="nav-list__item"><a href="#justify-content">Justify Content</a></li>
        <li class="nav-list__item"><a href="#nested-grids">Nested Grids</a></li>
    </ul>
</nav>
 */

.sidebar-nav{
	
	padding: 2rem 0;
	/*@include at-breakpoint(1100px){
		position: fixed;
		top: 6rem;
		left: 0;
	}*/
}

	.nav-list{
		margin: 0;
		list-style: none;
		font-weight: 300;
		line-height: 1.5;
	}

		.nav-list__item{
			a{
				text-decoration: none;
			}
		}