table{
	overflow-x: scroll;
	border-collapse: collapse;
}

	thead{
		text-align: left;
		font-weight: 400;
	}

	tbody{

	}
		tr{
			&:nth-child(odd) td{
				background: #f5f2f0;
			}
		}
			td,th{
				background: #fff;
				padding: 0.5rem;
				//border: 1px solid darken(#f5f2f0,20%);
				// GET SASS PREPROCESSOR
			}