// Main content area

.example-grid{
	background: mix(#000,#fff,5%);
	padding: 1rem 1rem 0 1rem;
	margin-bottom: 2rem;
}

	.example-grid__content{
		background: $primary;
		color: #fff;
		width:100%;
		text-align: center;
		padding: 1rem 0;
		margin-bottom: 1rem;
		border-radius: 0.2rem;
	}

	.example-grid__content--tall{
		padding: 2rem 0;
	}