.site-header{
	background: $primary;
	color: #fff;
	width: 100%;
	padding: 0.5rem 1rem;
}

	.site-header__title{
		margin: 0;
		font-size: 1.8rem;
	}

	.downloads{
		width: 100%;
	}

		.downloads__btn{
			width: 100%;
		}