.site-title{
	padding: 2rem 1rem;
	text-align: center;
}

	.site-title__heading{
		font-size: 2rem;
	}

	.site-title__subheading{

	}

	.downloads{
		width: 100%;
	}

		.downloads__btn{
			width: 100%;
		}