$grid-width: 1px;

.eighties-grid-wrapper{
	pointer-events: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	height: 30rem;
	background: #023A69;
	overflow: hidden;
	&:before{
		content: "";
		position: absolute;
		z-index: 10;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(
            to bottom,
            rgba(#1e272d,0.90),
            rgba(#263944,0.6));
	}
}

.eighties-grid{
	position: absolute;
	-webkit-backface-visibility: hidden;
	top: -20rem;
	left: -20rem;
	bottom: 0;
	right: -20rem;
	transform: perspective(26rem) rotateX(70deg);
	//background-size: 6% 6%, 1% 6%;
}

	.eighties-grid-inner{
		max-width: 600px;
		margin: 0 auto;
	}

    .eighties-grid__item{
        -webkit-backface-visibility: hidden;
        height: 50rem;
        border-left: $grid-width dashed rgba(#fff,0.8);
        border-right: $grid-width dashed rgba(#fff,0.8);
    }