.site-header{
	color: #fff;
	width: 100%;
	padding: 0.5rem 1rem;
	height: 30rem;
	text-align: center;
	display: flex;
	justify-content: center;
	 align-items: center;
}

	.site-header__downloads{
		margin: 0 auto;
	}

	.downloads{
		width: 100%;
	}

		.downloads__btn{
			width: 10rem;
			margin: 0 0.5rem;
		}

		.downloads__btn--github{}
	       

.logo{
	width: 50rem;
	margin-bottom: 2rem;
}

	.logo__text{
		fill: #fff;
	}

	.logo__triangle-left path{
		fill: $primary;
	}

	.logo__triangle-right path{
		fill: mix($primary,#fff,70%);
	}

	.logo__triangle-bottom path{
		fill: mix($primary,#000,70%);
	}