.site-header{
	color: #fff;
	width: 100%;
	padding: 0.5rem 1rem;
	height: 30rem;
	text-align: center;
	display: flex;
	justify-content: center;
	 align-items: center;
}

	.site-header__downloads{
		margin: 0 auto;
	}

	.downloads{
		width: 100%;
	}

		.downloads__btn{
			width: 10rem;
			margin: 0 0.5rem;
		}

		.downloads__btn--github{}
	       

.logo{
	width: 50rem;
	margin-bottom: 2rem;
	overflow: visible;
}

	.logo__text{
		fill: #fff;
	}

	.logo__triangle{
		animation-name: animaterotate;
		//animation-timing-function: ease;
		animation-duration: 1.7s;
		transform-origin: center center;
	}

	.logo__triangle__left path{
		fill: $primary;
		animation-name: animateleft;
		animation-timing-function: ease;
		&:nth-child(1){
			animation-duration: 0.5s;
		}

		&:nth-child(2){
			animation-duration: 0.8s;
		}

		&:nth-child(3){
			animation-duration: 1.1s;
		}

		&:nth-child(4){
			animation-duration: 1.4s;
		}

		&:nth-child(5){
			animation-duration: 1.7s;
		}

		&:nth-child(6){
			animation-duration: 2s;
		}
	}

	.logo__triangle__right path{
		fill: mix($primary,#fff,70%);
		animation-name: animateright;
		animation-timing-function: ease;
		&:nth-child(1){
			animation-duration: 0.5s;
		}

		&:nth-child(2){
			animation-duration: 0.8s;
		}

		&:nth-child(3){
			animation-duration: 1.1s;
		}

		&:nth-child(4){
			animation-duration: 1.4s;
		}

		&:nth-child(5){
			animation-duration: 1.7s;
		}

		&:nth-child(6){
			animation-duration: 2s;
		}
	}

	.logo__triangle__bottom path{
		fill: mix($primary,#000,70%);
		animation-name: animatebottom;
		animation-timing-function: ease;
		&:nth-child(1){
			animation-duration: 0.5s;
		}

		&:nth-child(2){
			animation-duration: 0.8s;
		}

		&:nth-child(3){
			animation-duration: 1.1s;
		}

		&:nth-child(4){
			animation-duration: 1.4s;
		}

		&:nth-child(5){
			animation-duration: 1.7s;
		}

		&:nth-child(6){
			animation-duration: 2s;
		}
	}

// animate logo
@keyframes animaterotate {
 	0% {
    	transform:rotate(280deg);
  	}
  	100% {
    	transform:rotate(360deg);
  	}
}

@keyframes animateright {
 	0% {
    	transform: translateY(-50px);
    	opacity: 0;
  	}
  	100% {
    	transform: translateY(0);
    	opacity: 1;
  	}
}

@keyframes animateleft {
 	0% {
    	transform: translate(-50px,25px);
    	opacity: 0;
  	}
  	100% {
    	transform: translate(0);
    	opacity: 1;
  	}
}

@keyframes animatebottom{
 	0% {
    	transform: translate(50px,25px);
    	opacity: 0;
  	}
  	100% {
    	transform: translate(0,0);
    	opacity: 1;
  	}
}