.site-header{
	//background: mix(#000,$primary,40%);
	color: #fff;
	width: 100%;
	padding: 0.5rem 1rem;
	height: 30rem;
	text-align: center;
	display: flex;
	justify-content: center;
	 align-items: center;
}

	.site-header__downloads{
		margin: 0 auto;
	}

	.site-header__title{
		margin: 0;
		font-family: 'Roboto Condensed', sans-serif;
		text-transform: uppercase;
		font-size: 4rem;
		line-height: 1;
		text-shadow: 5px 5px 10px rgba($primary, 1);
		margin-bottom: 3rem;
		@include at-breakpoint(800px){
			font-size: 7rem;
		}

		@include at-breakpoint(1100px){
			font-size: 8rem;
		}

	}

	.downloads{
		width: 100%;
	}

		.downloads__btn{
			width: 10rem;
		}

		.downloads__btn--github{
		}